{{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}} 
{{form_label(form.idUser,"ID USER")}}
    {{ form_widget(form.idUser) }}
    <span style="color: red">{{ form_errors(form.idUser)}} </span>
    </br>
    {{form_label(form.contenu,"Votre commentaire")}}
    {{ form_widget(form.contenu) }}
    <span style="color: red">{{ form_errors(form.contenu)}} </span>
    </br>
    {{form_label(form.dateCommentaire,"La date")}}
    {{ form_widget(form.dateCommentaire) }}
    <span style="color: red">{{ form_errors(form.dateCommentaire)}} </span>
    </br>
    {{form_label(form.Actualite,"Actualite")}}
    {{ form_widget(form.Actualite) }}
    <span style="color: red">{{ form_errors(form.dateCommentaire)}} </span>
    <span style="color: red">{{ form_errors(form.Actualite)}} </span>
    </br>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
