{%extends 'admin/Base.html.twig'%}

{% block title %}Accueil admin
{% endblock %}


{% block body %}
	<main id="main" class="main">
		<div class="row">
			<div class="col-lg-6">

				<div class="card">
					<div class="card-body">
						<h1 class="card-title">Statistiques des animaux par Genre</h1>

						{% block content %}
							{% if AnimalsGenreAnimal is empty %}
								<p>Aucune donnée disponible.</p>
							{% else %}
								<canvas id="pieChart" style="display: block; box-sizing: border-box; height: 400px; width: 840.8px;" width="1051"></canvas>
							{% endif %}
						{% endblock %}

						{% block javascript %}
							{% if AnimalsGenreAnimal is not empty %}
								<script>
									document.addEventListener("DOMContentLoaded", () => {
new Chart(document.querySelector('#pieChart'), {
type: 'pie',
data: {
labels: {{ AnimalsGenreAnimal|json_encode|raw }},
datasets: [
{
label: 'Genre Animal',
data: {{ AnimalsGenreAnimalCount|json_encode|raw }},
backgroundColor: {{ AnimalsGenreAnimalColor|json_encode|raw }},
hoverOffset: 4
}
]
}
});
});
								</script>
							{% endif %}
						{% endblock %}
					</div>

				</div>
			</div>
			<div class="col-lg-6">

				<div class="card">
					<div class="card-body">
						<h1 class="card-title">Statistiques des animaux en fonction de sterilisation
						</h1>

						{% block content2 %}
							{% if AnimalsEstSterilise is empty %}

								<p>Aucune donnée disponible.</p>
							{% else %}
								<canvas id="barChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 840.8px;" width="1051"></canvas>
							{% endif %}
						{% endblock %}

						{% block javascript2 %}
							{% if AnimalsEstSterilise is not empty %}

								<script>
									document.addEventListener("DOMContentLoaded", () => {
new Chart(document.querySelector('#barChart'), {
type: 'bar',

data: {
labels: {{ AnimalsEstSterilise|json_encode|raw }},

datasets: [
{
label: 'Etat Sterilisation',
data: {{ AnimalsEstSteriliseCount|json_encode|raw }},

backgroundColor: {{ AnimalsEstSteriliseColor|json_encode|raw }},

options: {
scales: {
y: {
beginAtZero: true
}
}
}
}
]
}
});
});
								</script>
							{% endif %}
						{% endblock %}
					</div>

				</div>
			</div>

			{# <div class="col-lg-6">

				<div class="card">
					<div class="card-body">
						<h1 class="card-title">Statistiques des reclamations par client
						</h1>

						{% block content3 %}
							{% if ReclamationsClient is empty %}

								<p>Aucune donnée disponible.</p>
							{% else %}
								<canvas id="doughnutChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 840.8px;" width="1051"></canvas>
							{% endif %}
						{% endblock %}

						{% block javascript3 %}
							{% if ReclamationsClient is not empty %}

								<script>
									document.addEventListener("DOMContentLoaded", () => {
new Chart(document.querySelector('#doughnutChart'), {
type: 'doughnut',

data: {
labels: {{ ReclamationsClient|json_encode|raw }},
datasets: [
{
label: 'My First Dataset',
data: {{ ReclamationsCount|json_encode|raw }},

backgroundColor: {{ ReclamationsColor|json_encode|raw }},

hoverOffset: 4
}
]
}
});
});
								</script>
							{% endif %}
						{% endblock %}
					</div> #}

				{# </div>
			</div> #}
		</div>
	</main>
{% endblock %}
