

{% extends 'admin/Base.html.twig'%}

{% block body %}


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg "  style='margin-left: 20% ;'>

    <div class="container-fluid py-4">
        <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Table des bilans </h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">

        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ actualite.contenu }}</td>
            </tr>
            <tr>
                <th>DateActualite</th>
                <td>{{ actualite.dateActualite ? actualite.dateActualite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ImageFile</th>
                <td><img src="{{ asset('media/'~actualite.imageFile) }}" style=" width:60px; height:50px; " alt=""/></td> 
            </tr>
        </tbody>
    </table>
    


              </div>
            </div>
              <section style="padding:0">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card mb-3">
          <div class="card-body">
           
           
                  <h6 class="text-primary fw-bold mb-0">
                    <div>
                  <div> Ajouter un commentaire</div>
                  </div>
                    <span class="text-dark ms-2" style="display:none"><textarea  class="w-100"></textarea></span>
                      <a class="btn btn-success" style="margin:1em;" href="{{path('app_client_commentaire_new', {'id': actualite.id}) }}"> Ajouter un commentaire </a>
                  </h6>
                  {# <p class="mb-0"><div>{{commentaire.dateCommentaire}} </div></p> #}
              
                
          
          </div>
        </div>
        {% for commentaire in commentaires %}

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              {# <img class="rounded-circle shadow-1-strong me-3"
                src="public\media\default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg" alt="avatar" width="40"
                height="40" /> #}
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 class="text-primary fw-bold mb-0">
                    <div>
        <div> #{{commentaire.idUser}}</div>
    </div>
                    <span class="text-dark ms-2"><div> {{commentaire.contenu}}</div></span>
                  </h6>
                  {# <p class="mb-0"><div>{{commentaire.dateCommentaire}} </div></p> #}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="small mb-0" style="color: #aaa;">
                    {# <a href="#!" class="link-grey">Remove</a> • #}
                    {# <a href="#!" class="link-grey">Reply</a> • #}
                    {# <a href="#!" class="link-grey">Translate</a> #}
                  </p>
                  <div class="d-flex flex-row">
                    <i class="fas fa-star text-warning me-2"></i>
                    <i class="far fa-check-circle" style="color: #aaa;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        
  </div>
</section>
          </div>
          
        </div>
      </div>
      
      
    </div>
  </main>
  
  {% endblock %}
 