
{% extends 'client/Base.html.twig'%}

{% block body %}


    <h1>Animals</h1>

    <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <table class="card" >
                            <tbody>
                                <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>NomAnimal</th>
                <td>{{ animal.NomAnimal }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ animal.DateDeNaissance ? animal.DateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>GenreAnimal</th>
                <td>{{ animal.GenreAnimal }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ animal.category.Espece }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ animal.category.Race }}</td>
            </tr>
            <tr>
                <th>EstSterilise</th>
                <td>{{ animal.EstSterilise }}</td>
            </tr>
            <tr>
                <th>EstVaccine</th>
                <td>{{ animal.EstVaccine }}</td>
            </tr>
                            </tbody>
                        </table>
                        <div style=" margin-bottom: 10px;">
                            <a href="{{ path('app_animals1_afficher') }}" class=" btn btn-dark">back to list</a>

                            <a href="{{ path('app_animals1_edit', {'id': animal.id}) }}" class=" btn btn-warning">edit</a>
                            <a href="{{ path('app_devis1', {'id': animal.id}) }}" class=" btn btn-warning">Devis</a>
                        </div> 
                        
                        {{ include('client/deleteAnimal.html.twig') }}
                    </div>
                </div>
            <div>
        </div>
    </div>

{% endblock %}
